@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}
body {
  display: flex;
  min-height: 100vh;
  background-color: #141b1c;
}
@import 'variables';
@import 'price-cards';
