.price-cards {
  display: flex;
  margin: auto;
}

.price-card {
  position: relative;
  width: 380px;
  height: 770px;
  text-align: center;
  overflow: hidden;
  background-color: $base-background;
  padding-top: 3px;
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    & > h3 {
      font-size: 35px;
      font-weight: 700;
      line-height: 42.67px;
    }
    & > span {
      font-size: 20px;
      font-weight: 300;
      line-height: 24.38px;
    }
  }
  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    font-size: 55px;
    font-weight: 700;
    background-color: rgba(91, 177, 137, 1);

    &_blue {
      background-color: rgba(58, 107, 165, 1);
    }
    &_orange {
      background-color: rgba(236, 99, 42, 1);
    }
  }
  &__description {
    width: 327px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin: 40px auto;
  }
  &__options-list {
    text-align: start;
    margin-bottom: 39px;
    & > li {
      position: relative;
      display: block;
      height: 50px;
      font-size: 15px;
      line-height: 50px;
      padding-left: 59px;
      cursor: pointer;
      &:hover {
        filter: brightness(1.4);
      }
      &:nth-child(odd) {
        background-color: $second-background;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 19px;
    left: 22px;
    display: block;
    width: 15px;
    height: 13px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
      center no-repeat;
    &_blue {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
        center no-repeat;
    }
    &_orange {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
        center no-repeat;
    }
  }
  &__order-btn {
    width: 154px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(91, 177, 137, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    &_blue {
      background-color: rgba(58, 107, 165, 1);
    }
    &_orange {
      background-color: rgba(236, 99, 42, 1);
    }
    &:hover {
      filter: brightness(1.4);
    }
  }
  &__promotion {
    position: absolute;
    top: 31px;
    right: -30px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    background-color: rgba(220, 63, 69, 1);
  }
}
